body{
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#videoback{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.konten{
    position: relative;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#spotify{
    float: right;
}

input{
    margin-left: 30%;
}

#wanita{
    margin-left: unset;
    padding-left: 20px;
}

#reg{
    margin-left: 248px;
}

#pc,#smart{
    margin-left: 0;
}
#foto{
    margin-left: 208px;
}

#reset{
    margin-left: 0;
}

#hobi{
    margin-left: 30%;
}